.env
.terraform/
coverage/
venv/
entra-id-scim/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate

# identity center testing
grant.json
role.json
scrap.txt
todo.txt

# Python
**/**__pycache__
venv/
entra-id-scim/

# function code

**/function.zip
