autopep8==2.3.2
black==26.5.1
flake8==7.3.0
isort==8.0.1
mypy==2.1.0
pylint==4.0.5
unittest2==1.1.0
mock==5.2.0
requests_mock==1.12.1
moto==5.2.2

# Core Dependencies
boto3==1.43.25           # AWS SDK for Python to interact with AWS services
botocore==1.43.25        # Low-level, data-driven core of boto3
requests==2.34.2        # To make HTTP requests to EntraID
