# Core Dependencies
boto3==1.43.79            # AWS SDK for Python to interact with AWS services
botocore==1.43.79         # Low-level, data-driven core of boto3
requests==2.34.2         # To make HTTP requests to EntraID
